<div class="mypage">
  <main class="mypage__main">
    <div class="mypage__main__right">
      <section class="mypage__main__right__top__profile">
        <a href="https://www.mercari.com/jp/u/914898503/">
          <figure>
            <img src="//static-mercari-jp-imgtr2.akamaized.net/images/member_photo_noimage_thumb.png" alt="" width="60" height="60">
          </figure>
          <h2 class="mypage__main__right__top__profile--bold">Mac</h2>
          <div class="mypage__main__ritht__top__profile__number">
            <div class="mypage__main__right__top__profile__evaluation">評価 <span class="mypage__main__right__top__profile--bold">0</span></div>
            <div class="mypage__main__right__top__profile__exhibit">出品数 <span class="mypage__main__right__top__profile--bold">0</span></div>
          </div>
        </a>
      </section>



      <section class="mypage__main__right__middle">
          <ul class="mypage__main__right__middle__tabs">
            <li class="mypage__main__right__middle__tabs--active">
              <h3>
                <a href="">
                  お知らせ
                </a>
              </h3>
            </li>
            <li class="">
              <h3>
                <a href="">
                  やることリスト
                </a>
              </h3>
            </li>
          </ul>
          <div class="mypage__main__right__middle__content">
            <ul id="mypage-tab-notification" class="mypage__main__right__middle__content__item-list tab-pane active">
              <li>
                <a href="" class="mypage__main__right__middle__content__item-list__link" data-open="modal" data-modal="banner">
                  <figure>
                    <img data-src="//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png" class=" lazyloaded" alt="" src="//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png">
                  </figure>
                  <div class="mypage__main__right__middle__contet__item-list__body">
                    <div class="mypage__main__right__middle__contet__item-list__body__text">【メルカリ限定】「新しい地図」の地上波初番組「略してブラリク」を配信中！</div>
                    <time><i class="icon-time"></i><span>3 日前</span></time>
                  </div>
                  <i class="icon-arrow-right"></i>
                </a>
              </li>
              <li class="mypage__main__right__middle__content__item-list__show">
                <a href="/jp/mypage/notification/">一覧を見る</a>
              </li>
            </ul>

            <ul id="mypage-tab-todo" class="">
              <li class="mypage__main__right__middle__content__item-list--not-found bold">現在、やることリストはありません</li>
            </ul>
          </div>
      </section>



      <section class="mypage__main__right__bottom">
        <h2 class="mypage__main__right__bottom__tab-head">購入した商品</h2>
        <ul class="mypage__main__right__bottom__tabs">
          <li class="mypage__main__right__bottom__tabs--active">
            <h3>
              <a href="#mypage-tab-transaction-now" data-toggle="tab">
                取引中
              </a>
            </h3>
          </li>
          <li class="">
            <h3>
              <a href="#mypage-tab-transaction-old" data-toggle="tab">
                過去の取引
              </a>
            </h3>
          </li>
        </ul>
        <div class="mypage__main__right__bottom__content">
          <ul id="mypage-tab-transaction-now" class="mypage__main__right__bottom__content__item-list tab-pane active">
            <li class="mypage__main__right__bottom__content__item-list--not-found bold">取引中の商品がありません</li>
          </ul>

          <ul id="mypage-tab-transaction-old" class="">
            <li class="mypage__main__right__bottom__content__item-list--not-found bold">過去に取引した商品がありません</li>
          </ul>
        </div>
      </section>
    </div>
    <%=render partial:'sidebar'%>
  </main>
</div>
